<div class="editor-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-10 offset-md-1 col-xs-12">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <fieldset>
            <fieldset class="form-group">
              <input
                type="text"
                class="form-control form-control-lg"
                [ngClass]="{'has-error': form.get('title').errors?.['serverError']}"
                placeholder="Article title"
                formControlName="title"
              />
              <span
                *ngIf="form.get('title').errors?.['serverError']"
                class="error"
                >{{ form.get('title').errors?.['serverError']}}</span
              >
            </fieldset>
            <fieldset class="form-group">
              <input
                type="text"
                class="form-control form-control-lg"
                [ngClass]="{'has-error': form.get('description').errors?.['serverError']}"
                placeholder="What is this article about?"
                formControlName="description"
              />
              <span
                *ngIf="form.get('description').errors?.['serverError']"
                class="error"
                >{{ form.get('description').errors?.['serverError']}}</span
              >
            </fieldset>
            <fieldset class="form-group">
              <textarea
                type="text"
                class="form-control form-control-lg"
                rows="8"
                [ngClass]="{'has-error': form.get('body').errors?.['serverError']}"
                placeholder="Write your article (in markdown)"
                formControlName="body"
              >
              </textarea>
              <span
                *ngIf="form.get('body').errors?.['serverError']"
                class="error"
                >{{ form.get('body').errors?.['serverError']}}</span
              >
            </fieldset>
            <fieldset class="form-group">
              <input
                type="text"
                class="form-control form-control-lg"
                [ngClass]="{'has-error': form.get('tagList').errors?.['serverError']}"
                placeholder="Enter tags"
                formControlName="tagList"
              />
              <span
                *ngIf="form.get('tagList').errors?.['serverError']"
                class="error"
                >{{ form.get('tagList').errors?.['serverError']}}</span
              >
            </fieldset>
            <fieldset>
              <button
                type="submit"
                class="btn btn-lg pull-xs-right btn-primary"
                [disabled]="form.invalid || isSubmittingProps"
              >
                Publish article
              </button>
            </fieldset>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
